.button {
    min-width: 3rem;
    margin:1rem;
    padding:0.5rem;
    background-color:#d7e4f8 ;
    border:2px solid #85a3da;
    border-radius: 10px;
    color: black;
    transition-duration: 0.3rem;
.button:hover {
    background-color: white;
    color: black;
    border-width: 2px;
    }
}